<% layout('/layouts/boilerplate') -%>


    <div id="filters">
        <div class="filter">
            <div><i class="fa-solid fa-fire"></i></div>
            <p>Trending</p>
        </div>
        <div class="filter">
            <div>
                <a href="/listings"><i class="fa-solid fa-bed"></i></a>
            </div>
            <p>Rooms</p>
        </div>
        <div class="filter">
            <div>
                <a href="/listings/filtered/?place=Mountain"><i class="fa-solid fa-mountain-city"></i></a>
                </i>
            </div>
            <p>Mountain City</p>
        </div>
        <div class="filter">
            <div>
                <a href="/listings/filtered/?place=Mountain"><i class="fa-solid fa-mountain"></i></a>
            </div>
            <p>Mountains</p>
        </div>
        <div class="filter">
            <div>
                <a href="/listings/filtered/?place=Castle"><i class="fa-brands fa-fort-awesome"></i></a>
            </div>
            <p>Castle</p>
        </div>
        <div class="filter">
            <div>
                <a href="/listings/filtered/?place=Beach"><i class="fa-solid fa-umbrella-beach"></i></a>
            </div>
            <p>Beach</p>
        </div>
        <div class="filter">
            <div>
                <a href="/listings/filtered/?place=Camping"><i class="fa-solid fa-tent"></i></a>
            </div>
            <p>Camping</p>
        </div>
        <div class="filter">
            <div>
                <a href="/listings/filtered/?place=Village"><i class="fa-solid fa-tractor"></i></a>
            </div>
            <p>village</p>
        </div>
        <div class="filter">
            <div>
                <a href="/listings/filtered/?place=Amazon"><i class="fa-solid fa-cloud-showers-water"></i></a>
            </div>
            <p>Amazon</p>
        </div>
        <div class="filter">
            <div>
                <a href="/listings/filtered/?place=Dome"><i class="fa-solid fa-igloo"></i></a></div>
            <p>Dome</p>
        </div>
        <div class="tax-toggle">
            <div class="form-check-reverse form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
                <label class="form-check-label" for="switchCheckDefault">Display total after taxes</label>
            </div>
        </div>
    </div>
    <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1">
        <%for(list of alllistings){ %>
            <a class="list-link" href="/listings/<%=list.id%>">
                <div class="card col listing-card ">
                    <img src="<%=list.image.url%>" class="card-img-top" alt="list_image" style="height: 15rem;">
                    <div class="card-img-overlay"></div>
                    <div class="card-body">
                        <p class="card-text">
                            <b>
                            <%=list.title%> </b><br> &#36;
                            <%=list.price.toLocaleString("en-AU")%> / night
                                <i class="tax-info">&nbsp; +18% GST</i>
                        </p>
                    </div>
                </div>
            </a>

            <%}%>
    </div>
    <script>
    </script>